* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-milestone {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.container {
    margin: 10px auto;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}
